body{background-color: pink;
 margin:0;padding:0;background:url(../spiraL tool.jpg;}

ol{font-size: 24px; 
   color:purple}
ul{font-size:24px;
     color:green}
h2{font-size:24px;
            color:blue;style:}
h2#lyssa{font-size:24px;
            color: purple}

h2.kerry{border-color:red;
    border-width: 6px;
     border-style:solid;}










