body{background-image:
      url(../images/bre.png);
           }
#wrapper{background-color: #FFF;
        margin:40px auto;
        max-width: 1080px;
       min-height:  1800px;} 
   /*THE content SECTION*/       
 #content{border-bottom-color: #545454;
           border-bottom-width: 100px;
        margin:40px auto;
        max-width: 1000px;
        height: 1580px;} 
                       
  #highlight{background-color: orange;
        margin:40px auto;
        max-width: 1000px;
        height: 8px;} 
        
    /*THE HEADER SECTION*/                           
 #header{padding:10px 0 0 0;
        margin:40px auto;
        max-width: 1000px;
        height: 200px;}
         
  
 #head{padding:10px 0 0 0;
 	    
        margin:30px auto;
        max-width: 300px;
        height: 170px;
        float: left;}
        
 