body{background-color:#FFF;width:1024px;}


#wrapper{width:1000px;height:950px;
        background-color:#CCC;
        padding:0 auto;margin:auto;
        border-width:05px;border-type:solid;
        border-color:#006400;}


#content{width:900px;height:950px;
         background-color:#8FBC8F	;
         padding:0 auto;margin:;}




